<h1>Make Your Article</h1>

<form action="/articles" method="post">
  Put Your Title Here: <input type="text" name="title">
  Put Your Content Here: <input type="text" name="content">
  <button type="submit">Submit</button>
</form>
