<h1><%= @article.title %></h1>
<h2>Content: <%= @article.content %></h2>
<form action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit">delete</button>
</form>
